<link rel="stylesheet" href="/navbar.css">
<div class="header">
    <div class="nav-container">
        <div class="nav-icons">
            <img src="../pic/kompas.png" class="nav-icon" alt="Pen" />
            <img src="../pic/chat.png" class="nav-icon" alt="Chat" />
            <img src="../pic/notif.png" class="nav-icon" alt="Notifications" />
            <span class="logout">
                <img src="../pic/logout.png" class="nav-icon" alt="Logout" />
                <a href="/logout">Keluar</a>
            </span>
        </div>
    </div>
</div>

